@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.reveal-modal {
  display: none;
}

/* Foundation Override
------------------------------------------------------------------- */

::selection {
  background-color: #2098f5;
  color: #fff;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #77797c;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}

h1 {
  font-size: 2.125em;
}

h2 {
  font: 300 24px "Syne", sans-serif;
  margin-bottom: 25px;
}

h3,
h4,
h5,
h6 {
  color: #5a5a5c;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

h3 a {
  font-weight: 400;
}

hr {
  margin: 0 0 80px;
}

.row {
  padding: 0 20px;
}

code {
  font-family: source-code-pro, monospace;
  color: #686868;
}

p {
  font: 400 14px / 24px "Inter", sans-serif;
  margin-bottom: 30px;
  text-rendering: optimizeLegibility;
}

a {
  color: #2098f5;
  font-weight: 400;
  -webkit-transition: 320ms;
  transition: 320ms;
}

a:hover,
a:focus {
  color: #047edd;
}

a:active {
  text-decoration: underline;
}

#footer a,
#about a {
  color: #98d2ff;
}

#footer a:hover,
#footer a:focus,
#about a:hover,
#about a:focus {
  color: #fff;
}

.keystroke,
kbd {
  background-color: #fff;
  border-color: #bcbcbc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #000;
  margin: 0;
  font-family: source-code-pro, monospace;
  font-size: 0.7em;
  padding: 0.025em 0.35em 0em;
}

button,
.button {
  font-weight: 400;
  text-decoration: none !important;
  margin-bottom: 0em;
  font-family: inherit;
  -webkit-transition: 320ms;
  transition: 320ms;
  font-family: "Inter";
}

button.secondary,
.button.secondary {
  background: transparent;
  border: 2px solid #010001;
  color: #010001;
  padding: 16px 25px;
  font: 400 14px "Inter", sans-serif;
}

button.secondary:hover,
.button.secondary:hover {
  background: #010001 !important;
  color: #fff;
  opacity: 1;
}

button.large,
.button.large {
  padding: 0.7em 1em 0.8em;
  font-size: 1.25em;
  text-align: left;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background: #010001;
  opacity: 0.8;
}

button:active,
.button:active {
  background: #010001;
  opacity: 0.8;
}

ul,
ol,
dl {
  list-style-position: inside;
  margin-left: 2px;
  font: 400 14px / 24px "Inter", sans-serif;
}

#footer ul {
  color: #5f6569;
}

blockquote,
blockquote p {
  line-height: 1.5;
}

.bx {
  font-size: 25px;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

/* Navbar
------------------------------------------------------------------- */

.navbar-base {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0);
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
}

.navigation-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: sticky;
}

.navigation-link-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.brand {
  margin-right: 50px;
}

.brand.w--current {
  padding-left: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-left-menu{
  display: flex;
  align-items: center;
  padding-left: 15%;
}

.nav-right-menu{
  display: flex;
  align-items: center;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.nav-link {
  position: relative;
  padding: 14px 20px;
  border-radius: 0;
  transition: all 0.1s linear;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.03em;
  font-family: "Inter";
}

.nav-link:hover {
  color: #000;
  text-decoration: underline;
}

.w-nav {
  position: relative;
  z-index: 1000;
}

.navbar {
  background-color: #f0f9ff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.hamburgerMenuIcon {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.hamburgerMenuIcon .bx {
  font-size: 25px;
  color: #000;
}

@media screen and (min-width: 768px) {
  .mobile-link {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-left-menu, .nav-right-menu{
    position: absolute;
    top: 90px;
    left: 0;
    background: #f0f9ff;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
  }

  #nav-lmenu{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:40%;
  }

  #nav-rmenu{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
  }

  .show-menu {
    display:flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
  }

  .nav-link {
    font-size: 20px;
    padding-left: 0;
  }

  .hamburgerMenuIcon {
    display: block;
    position: fixed;
    top:0;
    right:0;
  }
  .desktop-link {
    display: none;
  }
}

/* Helper
------------------------------------------------------------------- */

.nobr {
  white-space: nowrap;
}

.no-bg-img {
  background-image: none !important;
}

.columns.collapse {
  padding-left: 0;
}

.last-row {
  padding-bottom: 50px;
}

.on-white {
  color: #8a8b8c;
}

.float-obj {
  float: left;
  margin-right: 18px;
  position: relative;
  top: 7px;
  left: 1px;
}

.intro p {
  color: #4d4d4d;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  margin: 0 auto 80px;
}

.sub-intro p {
  color: #4f4f52;
  font: 400 18px / 30px "Inter", sans-serif;
  margin-bottom: 30px;
  text-rendering: optimizeLegibility;
}

.link-beside-button {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  margin-left: 21px;
  position: relative;
  top: 9px;
}

/* Theme
------------------------------------------------------------------- */

#extract {
  margin-right: 3px;
  position: relative;
  top: 2px;
}

.hearts {
  color: #db8ea2;
  font-size: 0.69em;
}

#header-wrapper {
  background: rgba(255, 255, 255, 0.92);
  height: 50px;
  left: 0;
  line-height: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
}

/* Banner for promotions */
#banner {
  padding-top: 1em;
}

.forced-hidden {
  display: none !important;
}

#banner-wrapper {
  background: #d0ecf5;
  color: #010001;
  border: 2px solid #000;
  margin: 5px;
  max-width: 650px;
  border-radius: 3px;
  position: fixed;
  z-index: 999;
  bottom: 2%;
  right: 1%;
  padding: 10px 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.banner-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #010001;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
}

.banner-text {
  display: inline-block;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 1em 0.7em 0;
}

.nowrap {
  white-space: nowrap;
}

.special_text {
  font-weight: 700;
  color: #0380e8;
}

.download-button {
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: #010001;
  font-weight: 600;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #010001;
  opacity: 0.8;
}

#other-downloads {
  color: #000;
  text-decoration: underline;
}

#hero-wrapper {
  background-color: #f0f9ff;
  margin: 50px 0 0;
}

#hero h1 {
  color: #2d2d2d;
  font: 600 48px / 56px "Syne", sans-serif;
  margin: 0;
  padding-top: 80px;
  text-align: center;
}

#hero p {
  color: #262626;
  font: 400 20px / 30px "Inter", sans-serif;
  text-align: center;
  width: 70%;
  margin: 20px auto 40px;
}

#home #hero h1 {
  margin: 0 auto 15px;
  width: 70%;
}

#home #hero h1 a {
  font-weight: 300;
}

#download {
  text-align: center;
}

#download p {
  margin-top: 2px;
  margin-bottom: 45px;
}

#download p > a {
  /* links below download button */
  font-size: 12px;
  margin-right: 1em;
}

#download p > a:last-child {
  margin-right: 0;
}

#hero-cta-button {
  font: 400 18px "Inter", sans-serif;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#os-alert {
  display: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px 20px;
  width: 350px;
  max-width: 100%;
  background-color: transparent;
  font-size: 15px;
  margin: auto;
}

#phcodeio-button, #phcodeio-button-main, #launch-editor-button {
  background: #010001;
  border: 2px solid #010001;
  color: #fff;
  margin-bottom: 1em;
}

#phcodeio-button:hover , #launch-editor-button:hover, #phcodeio-button-main:hover{
  opacity: 0.8;
}

.button span {
  color: #fff;
  display: block;
  font-size: 0.7em;
  font-weight: 400;
  margin: 0;
}

#sub-hero-wrapper {
  padding: 70px 0 0;
}

#sub-hero-wrapper h2 {
  font: 600 27px "Syne", sans-serif;
  margin-bottom: 22px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 50px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 30px;
  height: 260px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.card-container:hover {
  box-shadow: 1px 1px 40px 1px rgba(214, 214, 214, 0.534);
  transition: all 0.2s ease-in-out;
}

.card-number {
  color: #361415;
  border-radius: 50%;
  font-weight: 700;
  padding: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container:nth-child(1) .card-number {
  background: #fff1e4;
}

.card-container:nth-child(2) .card-number {
  background: #ffeae9;
}

.card-container:nth-child(3) .card-number {
  background: #eefaf6;
}

.card-heading {
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding-top: 14px;
  color: #361415;
  font-size: 17px;
}

.card-description {
  width: 16rem;
}

#contributors {
  overflow: hidden;
  margin: 0 auto;
  -webkit-animation: loading 2s cubic-bezier(1, -0.04, 0.99, 0.88);
  animation: loading 2s cubic-bezier(1, -0.04, 0.99, 0.88);
}

@-webkit-keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#contributors a {
  float: left;
  height: 48px;
  width: 48px;
  -webkit-filter: saturate(96%) opacity(69%);
  filter: saturate(96%) opacity(69%);
  -webkit-transition: 220ms;
  transition: 220ms;
}

#contributors a:hover {
  -webkit-filter: saturate(100%) opacity(100%);
  filter: saturate(100%) opacity(100%);
}

#content-wrapper {
  background-color: #f0f9ff;
  padding-top: 80px;
}

#sub-hero-wrapper .button.secondary,
#content-wrapper .button.secondary {
  margin-bottom: 50px;
}

.card {
  border-radius: 3px;
  color: #2098f5;
  font: 400 16px / 21px "Inter", sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.card a {
  display: block;
  background-color: #e8f4fc;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #2098f5;
  padding: 16px 20px;
}

.card h3 {
  color: rgb(32, 152, 245);
  margin-bottom: 1em;
}

.card footer {
  color: #484848;
  font: 300 12px / 18px "Inter", sans-serif;
  text-align: right;
}

.card a:hover {
  border-color: #94d0ff;
  background-color: #eef8ff;
}

.date,
.comment-count,
.vote-count {
  display: inline-block;
}

.committer-list {
  margin: 0;
  padding: 0;
}

.committer-list li {
  list-style: none;
  padding-bottom: 10px;
}

.committer-list img {
  border-radius: 3px;
  margin-right: 3px;
  width: 27px;
}

#footer,
#about {
  padding-bottom: 90px;
  padding-top: 90px;
}

#footer-wrapper {
  background-color: #13181b;
}

#footer h5 {
  color: #fff;
  font: 300 14px / 24px "Inter", sans-serif;
}

#about {
  padding-top: 0;
}

#about p {
  color: #a6aab2;
  font: 400 13px / 24px "Inter", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 890px) {
  #hero h1 {
    font-size: 36px;
    line-height: 48px;
    width: 100% !important;
  }

  #contribute #hero p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 480px) {
  #hero h1 {
    font-size: 33px;
    line-height: 42px;
    width: 100% !important;
  }

  #hero p {
    font-size: 14px;
    line-height: 25px;
  }

  #contribute #hero p {
    font-size: 14px;
    line-height: 21px;
  }

  .sub-intro p {
    font-size: 16px;
    line-height: 25px;
  }

  #contributors a {
    height: 24px;
    width: 24px;
  }

  #starter_issues,
  #starter_features {
    display: none;
  }
}

@media only screen and (max-width: 890px) and (orientation: landscape) {
  #hero-wrapper {
    margin: 50px 0 0;
  }
}

@media only screen and (max-width: 403px) {
  #hero p {
    width: 100%;
  }
}
